node_modules/
.next/
.env.local
.env*.local
*.tsbuildinfo
next-env.d.ts
apps/web/public/logo.png

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
apps/mobile/.packages
.vercel

# Lavish Editor local sessions
.lavish/
